@import url('https://fonts.googleapis.com/css?family=Righteous');

body{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1.title{
	font-family: 'Righteous', cursive;
}

img.avatar{
	width: 300px;
	margin: 20px;
}